<% layout('/layouts/boilerplate') %>
 
 <div class="row">
     <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">       
         <div class="card mb-3">
             <div class="card-body">
                 <h5 class="card-title">
                     <%= customer.name %>
                 </h5>
                 <p class="card-text">
                     <%= customer.phone %> 
                 </p>
             </div>
             <ul class="list-group list-group-flush">   
                <li class="list-group-item">
                    Địa chỉ: <%= customer.address %> 
                </li>          
                 <li class="list-group-item">
                     Ghi chú: <%= customer.note %> 
                 </li>
             </ul>
             <div class="card-body">
                 <a href="/customers/<%= customer._id %>/edit" class="card-link btn btn-info mb-2 mb-sm-0">Sửa thông tin khách</a>
                 <form action="/customers/<%= customer._id %>?_method=DELETE" class="d-sm-inline" method="POST">
                    <button class="btn btn-danger">Xóa khách hàng</button>
                </form>
             </div>         

             <div class="card-footer text-muted">
                 <a href="/customers">Quay về danh sách khách hàng</a>
             </div>
         </div>
     </div>
 </div>